html, body {
    background-color: #202020;
    height: 100%;
    width: 100%;
}


/* Projects */

.projects.container {
    height: 100%;
}

.projects.project {
    background-color: pink;
    float: left;
}