@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pa8iiy');
  src:  url('fonts/icomoon.eot?pa8iiy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pa8iiy') format('truetype'),
    url('fonts/icomoon.woff?pa8iiy') format('woff'),
    url('fonts/icomoon.svg?pa8iiy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-profile:before {
  content: "\e901";
}
.icon-quit:before {
  content: "\e905";
}
.icon-cv:before {
  content: "\e903";
}
.icon-lkdn:before {
  content: "\e902";
  color: #0077b5;
}
.icon-gml:before {
  content: "\e900";
  color: #d14836;
}
.icon-left:before {
  content: "\2329";
}
.icon-right:before {
  content: "\232a";
}
