#socialContainer {
    width: 100%;
}

#socialContainer > div {
    display: flex;
    margin-bottom: 20px;

    justify-content: center;
}

#socialContainer > div > a {
    margin: 12px;
    font-size: 35px;
    color: #333;
}

#socialContainer > div > a:hover {
    opacity: 0.6;
}

@media screen and (max-width: 370px) {
    #socialContainer > div > a {
        margin: 12px 8px;
        font-size: 30px;
    }
}