* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f2f1;
}

a {text-decoration: none;}

button {
    background: transparent;
    outline: none;
    
    border: none;
    cursor: pointer;
}

#leftover {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: #000;
    opacity: 0.4;

    z-index: 2;
}


/* Buttons
    ========================================================================== */

#buttonsLeft,
#buttonsRight {
    position: fixed;
    top: 0;
}

#buttonsLeft {
    left: 5px;
    z-index: 1;
}

#buttonsRight {
    right: 0;
    z-index: 4;
}

#buttonsLeft button {float: left;}
#buttonsRight button {float: right;}


#buttonsLeft .icon {
    margin: 10px;

    color: #555;
    font-size: 40px;
}

#buttonsLeft .icon:hover {color: #777;}


#buttonsRight .langSelector {height: 40px;}

#buttonsRight .langSelector img {
    height: 100%;
    filter: grayscale(100%);
}

#buttonsRight .langSelector:hover {opacity: 0.7}
#buttonsRight .langSelector:last-child img {border-bottom-left-radius: 5px;}
#buttonsRight .langSelector.current img {filter: none;}


/* Language
    ========================================================================== */

.spanishContent {display: none;}


/* Z-index guide
    ==========================================================================

buttonsLeft             1
leftover                2
presentationContainer   3
buttonsRight            4
previowsArrow           4
nextArrow               4
ps__scrollbar-y-rail    4
*/