html, body {
    background-color: #202020;
    height: 100%;
    width: 100%;
}


/* Projects */

.projects.project {
    float: left;
    overflow: hidden;
}

.projects.trigger {
    height: 100%;
    width: 100%;

    border: none;
    
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;

    cursor: pointer;
    background-color: #EEE;
}

.projects.trigger:hover {
    font-size: 1.3em;
}