#curriculumContainer {
    display: none;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    max-width: 800px;

    z-index: 3;

    background: #fafafa;
}

#curriculumContainer .exitButton {
    position: absolute;
    top: 10px;
    right: -46px;

    padding: 12px;
    border-radius: 30px;

    font-size: 12px;
    color: #888;
    background: #fafafa;

    cursor: pointer;
    z-index: 5;
}

#curriculumContainer .exitButton:hover {
    color: #e00;
}

#curriculumData {
    height: 100%;

    text-align: center;
    color: #444;

    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.section {margin: 20px 0;}
.section:first-of-type { margin-top: 30px; }
.section:last-of-type {
    margin-bottom: 0;
    padding-bottom: 30px;
}

.section h2,
.section h3,
.section p {cursor: default;}



/* Basic Section
    ========================================================================== */

.section.basic * {margin: 10px auto;}
.section.basic h3 {font-weight: normal;}
.section.basic p {font-size: 0.9em;}

.section.basic .country {
    display: inline-flex;
    margin: 0;
    line-height: 22px;
}

.section.basic .country img {
    height: 20px;
    margin: 0 4px 0 0;
}



/* Slides Section
    ========================================================================== */

.section.data {
    position: relative;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;

    font-size: 0.9em;
    text-align: justify;
}

.section.data .slide {
    position: relative;
    width: 100%;
    padding: 10px 30px 10px 30px;
}

.section.data .slide:first-child {padding: 20px 30px 10px 30px;}
.section.data .slide:last-child {padding: 10px 30px 20px 30px;}

.section.data .slide h2 {text-align: center;}

.section.data .slide h3 {
    display: inline-block;
    margin-top: 10px;

    line-height: 24px;
    font-weight: normal;
}

.section.data .slide h3.nbsp {margin-right: 8px;}
.section.data .slide h3.bold {font-weight: bold;}
.section.data .slide h3.size01 {font-size: 1em;}
.section.data .slide h3.size02 {font-size: 0.9em;}
.section.data .slide h3.floatR {float: right;}
.section.data .slide h3.alignTop {vertical-align: top;}

.section.data .slide p {
    margin-left: 1px;
    line-height: 24px;
}

.section.data .slide p.padding-left {
    padding-left: 15px;
}

.section.data .slide div.lessImportant h3 {font-size: 1em;}



/* Social Buttons
    ========================================================================== */

.section.basic a {
    margin: 6px;
    font-size: 20px;
    color: #333;
}

.section.social a {
    margin: 12px;
    font-size: 40px;
    color: #333;
}

.section.basic a:hover,
.section.social a:hover {opacity: 0.6;}



/* Special Behaviours
    ========================================================================== */

@media screen and (max-width: 856px) {
    #curriculumContainer .exitButton {
        top: 0;
        right: 0;
        margin: 6px 8px 0 0;
        font-size: 16px;
        background: unset;
    }

    #curriculumContainer {
        overflow-y: auto;
        overflow-x: hidden;
    }

    #curriculumData { overflow: unset; }
}

@media screen and (max-width: 700px) {
    .section.data .slide h3.floatR {float: none;}
    .section.data .slide h3.lineBreak {margin-top: 3px;}
}

@media screen and (max-width: 350px) {
    #curriculumContainer { overflow: auto; }

    #curriculumContainer .exitButton {
        right: unset;
        left: 310px;
        margin: 0;
    }

    #curriculumData { min-width: 350px; }
}