* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {height: 100%;}

body {
    display: flex;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f1;
}

a {text-decoration: none;}

button {
    background: transparent;
    outline: none;

    border: none;
    cursor: pointer;
}

#particles-js {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
_::-webkit-full-page-media, _:future, :root .safari_only, #particles-js {display: none;}

#leftover {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: #000;
    opacity: 0.4;

    z-index: 2;
}


/* Z-index guide
    ==========================================================================

buttonsLeft             1
leftover                2
curriculumContainer     3
buttonsRight            4
ps__scrollbar-y-rail    4
exitButton              5
*/
