.navbar .left {
    position: fixed;
    top: 0;
}

.navbar .left {
    left: 0;
    margin: 10px 0 0 15px;
    padding: 5px 0;

    font-size: 40px;
    z-index: 1;
}

.navbar button {color: #555;}
.navbar button:hover {color: #777;}